<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Adjundicator Program</h1>

        <p>
        The United States Open Music Competition offers a unique and exciting adjudicator program where more than 25 distinguished judges come together each year during the competition week to judge and guide contestants of all ages and of different nationalities traveling locally, nationally and internationally. These judges have the opportunity to witness young pianists and musicians varying in levels, techniques and personal styles.
        </p>

        <p>
        In recent years, the USOMC has grown to 1200+ entries with 700+ contestants per year and we offer more than 70 events annually. We are constantly looking for new members to join the USOMC adjudicator program in order to continue building a dynamic panel of judges. This provides the contestants with a greater variety of critiques while learning from the different judging styles during the competition week.
        </p>

        <p>
        Each year the USOMC is held at the Oakland California Mormon Temple. The weeklong competition begins at 9 AM and ends around 6 PM every day with an hour lunch break usually from 12 to 1 PM. The USOMC offers a stipend of $50/hour for all adjudicators. In addition to the stipend, we also provide a complimentary meal during the lunch break along with snacks, fruits, and a variety of drinks throughout the day.
        </p>

        <p>
        All qualified pianists/musicians interested in learning more about the USOMC adjudicator program or how to become an adjudicator, please contact USOMC at  info@usomc.org.
        </p>
      </div>
    </div>
  </div>
</div>
