<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
        PRESIDENT<br>
        Randall Benway<br><br>
        V.P. | MUSIC DIRECTOR | CO-FOUNDER<br>
        Lamae Loo<br><br>
        CO-FOUNDER | CATERING COORDINATOR<br>
        Elaine Lee<br>
        TREASURER<br>
        Ivy Chen<br><br>
        DIRECTORS<br>
        Dr. Philip C. Ursell / 
        Carl Brooks / 
        Anita Cheung /  
        Bernard Cheung / 
        Mabel Lee / 
        Raymond Pak / 
        Shantha Ursell / 
        Shi-gu Zhang<br><br>
        JUNIOR BOARD MEMBERS<br>
        J.T. Ku / 
        A. Yu<br><br>
        CONSULTANTS<br>
        Chrissy Huang / 
        Betty Woo
        </p>
      </div>
    </div>
  </div>
</div>
