<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Board Members</h1>
        <p>
        <h4 class="title">President</h4>
        Randall Benway
        </p>

        <p>
        <h4 class="title">V.P. | Music Director | Co-founder</h4>
        Lamae Loo
        </p>

        <p>
        <h4 class="title">Co-founder | Catering Coordinator</h4>
        Elaine Lee
        </p>

        <p>
        <h4 class="title">Treasurer</h4>
        Ivy Chen
        </p>

        <p>
        <h4 class="title">Directors</h4>
        Dr. Philip C. Ursell
        Carl Brooks
        Anita Cheung
        Bernard Cheung
        Mabel Lee
        Raymond Pak
        Shantha Ursell
        Shi-gu Zhang
        </p>

        <p>
        <h4 class="title">Junior Board Members</h4>
        J.T. Ku
        A. Yu
        </p>

        <p>
        <h4 class="title">Consultants</h4>
        Chrissy Huang
        Betty Woo
        </p>
      </div>
    </div>
  </div>
</div>
