<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <h1 class="title">PRESIDENT</h1>
        <p>
        Randall Benway
        </p>

        <h1 class="title">V.P. | MUSIC DIRECTOR | CO-FOUNDER</h1>
        <p>
        Lamae Loo
        </p>

        <h1 class="title">CO-FOUNDER | CATERING COORDINATOR</h1>
        <p>
        Elaine Lee
        </p>

        <h1 class="title">TREASURER</h1>
        <p>
        Ivy Chen
        </p>

        <h1 class="title">DIRECTORS</h1>
        <p>
        Dr. Philip C. Ursell / 
        Carl Brooks / 
        Anita Cheung / 
        Bernard Cheung / 
        Mabel Lee / 
        Raymond Pak / 
        Shantha Ursell / 
        Shi-gu Zhang
        </p>

        <h1 class="title">JUNIOR BOARD MEMBERS</h1>
        <p>
        J.T. Ku / 
        A. Yu
        </p>

        <h1 class="title">CONSULTANTS</h1>
        <p>
        Chrissy Huang / 
        Betty Woo
        </p>
      </div>
    </div>
  </div>
</div>
