<div class="content_container">
  <div class="container">
  	<div class="row">
    <div class="col-md-12">  
      <div class="comp_link">SYLLABUS</div>
      <div class="comp_link">REGISTER</div>
      <div class="comp_link">PICTURES</div>
      <div class="comp_link">PROFILES</div>
    </div>
	</div>
  </div>
</div>
<div id = "loc_images">
	<div id="loc">--LOCATION TITLE--<br><br>ADDRESS GOES HERE</div>
</div>
