<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">LOCATION</h1>
        <p> 101 Main St.<br>Smalltown, USA</p>
    </div>
  </div>
</div>
  
