<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 blurb">
        <h1 class="title">- LOCATION -</h1>
        <p>
        First United Methodist Church of Palo Alto:<br> 
		625 Hamilton Avenue <br>
		Palo Alto <br>
		California 94301
		</p>
    </div>
  </div>
</div>
  
