<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Contact</h1>

        <p>
        MAILING ADDRESS<br>
        United States Open Music Competition<br>
        PMB #418, 6114 La Salle Avenue<br>
        Oakland, California 94611<br>
        <br>
        <br>
        INFORMATION<br>
        (510) 843 - 8686<br>
        </p>
      </div>
    </div>
  </div>
</div>
