<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">MAKE A DONATION</h1>
        <p>
          Help Support USOMC by becoming a Donor or a Sponsor.
        </p>
        <p>
        All donations to USOMC are tax deductible.<br>
        Please make checks payable to: USOMC<br>
        Mail check to: PMB 418, 6114 La Salle Avenue, Oakland, California 94611<br>
        </p>
      </div>
    </div>
  </div>
</div>
