<div id="donations_back"></div>
<div id="sponsors_title_back"></div>
<div id="sponsors_back"></div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 blurb">
      <h1 class="title">- DONOR LEVELS -</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="patron" id="life_patron">
        <h1 class="patron_title">$5000+</h1>
      </div>
      <div class="patron" id="gold_patron">
        <h1 class="patron_title">$2000+</h1>
      </div>
      <div class="patron" id="silver_patron">
        <h1 class="patron_title">$1000+</h1>
      </div>
      <div class="patron" id="bronze_patron">
        <h1 class="patron_title">$500+</h1>
      </div>
      <div class="patron" id="normal_patron">
        <h1 class="patron_title">$100+</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 blurb" id= "donate_instructions">
      <h1 class="title">- MAKE A DONATION -</h1>
      <p class="blurb">
      All donations to USOMC are tax deductible.<br>
      Please make checks payable to: USOMC<br>
      Mail checks to: PMB 418, 6114 La Salle Avenue, Oakland, California 94611
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 blurb">
      <h1 class="title inverted_color" id="sponsor_levels">- SPONSORSHIP LEVELS -</h1>
      <h1 class="patron_title first_patron">- GOLD -</h1>
      <p class="blurb">
      $3000<br>
      Full Page advertisement in USOMC competition program<br>
      Banner/Logo displayed during competition week & fundraising events<br>
      Verbal Acknowledgement during USOMC award concerts<br>
      Acknowledgement in printed media & USOMC official website<br>
      USOMC Winners’ Concerts DVD<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 blurb" id= "donate_instructions">
      <h1 class="patron_title">- SILVER -</h1>
      <p class="blurb">
        $2000<br>
        Half Page advertisement in USOMC competition program<br>
        Banner/Logo displayed during competition week & fundraising events<br>
        Verbal Acknowledgement during USOMC award concerts<br>
        Acknowledgement in printed media & USOMC official website<<br>
        USOMC Winners’ Concerts DVD<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 blurb" id= "donate_instructions">
      <h1 class="patron_title">- BRONZE -</h1>
      <p class="blurb">
        $1000<br>
        Quarter Page advertisement in USOMC competition program<br>
        Banner/Logo displayed during competition week & fundraising events<br>
        Verbal Acknowledgement during USOMC award concerts<br>
        Acknowledgement in printed media & USOMC official website<br>
        USOMC Winners’ Concerts DVD<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 blurb" id="current_sponsors">
      <h1 class="title">- CURRENT SPONSORS -</h1>
      <p class="blurb">
      KB HOME<br>
      1-888-KB-HOMES<br>
      www.kbhome.com<br><br>
      A Legacy Piano Resales<br>
      AllCells<br>
      Anna Loh<br>
      Charles Cheung<br>
      Grand Taipei Restaurant<br>
      KDFC Radio Station<br>
      Le Soleil<br>
      Mary Mok Realtor<br>
      Oakland Coin &amp; Jewelry Exchange<br>
      Randy D. Piano Tuner<br>
      Steinway Pianos<br>
      Spa America<br>
      Super Print<br>
      Sushi Zone Restaurant<br>
      Tina’s Wedding Specialists<br>
      Ulferts Centre<br>
      U.S. Bank<br>
      Washington Mutual Bank<br>
      Wilson &amp; Imelda Young<br>
      </p>
    </div>
  </div>
</div>
