<div id = "piano">
</div>
<div id = "piano_title">
</div>
<div id = "credits_back">
</div>
<div class="content_container">
  <div class="container" id="home_container">
    <div class="row">
      <div class="col-md-12">
      	<div class="col-md-1 home_title left"> WHAT </div>
      	<div class="col-md-2">
      		<p class="left_most"> The United States Open Music Competition is an extremely comprehensive piano competition that challenges and rewards students of all ages. </p>
      	</div>
        <div class = "home_divider"> </div>
      	<div class="col-md-1 home_title center"> WHEN </div>
      	<div class="col-md-2">
      		<p> Open Registration: 9/9/13 <br> Judge Apps : 1/1/13 <br> Entry Deadline : 10/10/13 <br> Competition: 11/11/2013 <br> Final Results: 12/12/13 </p>
      	</div>
        <div class = "home_divider"> </div>
      	<div class="col-md-1 home_title right"> WHERE </div>
      	<div class="col-md-2">
      		<p> First United Methodist Church of Palo Alto: <br> 625 Hamilton Avenue <br> Palo Alto <br> California 94301 </p>
      	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="title" id="credits_title"> BOARD & STAFF </h1>
        <p id="credits">
        PRESIDENT<br>
        Randall Benway<br><br>
        V.P. | MUSIC DIRECTOR | CO-FOUNDER<br>
        Lamae Loo<br><br>
        CO-FOUNDER | CATERING COORDINATOR<br>
        Elaine Lee<br><br>
        TREASURER<br>
        Ivy Chen<br><br>
        DIRECTORS<br>
        Dr. Philip C. Ursell / 
        Carl Brooks / 
        Anita Cheung /  
        Bernard Cheung / 
        Mabel Lee / 
        Raymond Pak / 
        Shantha Ursell / 
        Shi-gu Zhang<br><br>
        JUNIOR BOARD MEMBERS<br>
        J.T. Ku / 
        A. Yu<br><br>
        CONSULTANTS<br>
        Chrissy Huang / 
        Betty Woo<br><br>
        EXECUTIVE SECRETARY<br>
        Mee Lee Pang<br><br>
        GRAPHIC DESIGNER<br>
        Open Position
        </p>
      </div>
    </div>
  </div>
</div>
