<!--NAVBAR THAT NOT IN CONVENTIONAL BOOTSTRAP-->
<a href="index.html"><img src="<%= asset_path 'logo.png' %>" width="150" id="logo"></a>
<div id="navback"></div>
<input type="button" class="tab" id = "about" value = "ABOUT"/>
<input type="button" class="tab" id = "competition" value = "COMPETITION"/>
<input type="button" class="tab" id = "winners" value = "WINNERS"/>
<input type="button" class="tab" id = "judges" value = "JUDGES"/>
<input type="button" class="tab" id = "registration" value = "REGISTRATION"/>
<input type="button" class="tab" id = "support" value = "SUPPORT"/>
<input type="button" id="subtitle" value= "UNITED STATES OPEN MUSIC COMPETITION"/>
<!--END NAVBAR-->

<!--THE ACTUAL CONTENT-->
<div id="container">
  <input type="button" id = "display" value="display"/>
  <p id = "paragraph"> 
    Lorem ipsum dolor sit amet, consectetuer adipiscing 
    elit, sed diam nonummy nibh euismod tincidunt ut 
    laoreet dolore magna aliquam erat volutpat. Ut wisi 
    enim ad minim veniam, quis nostrud exerci tation 
    ullamcorper suscipit lobortis nisl ut aliquip ex 
    ea commodo consequat. Duis autem vel eum iriure 
    dolor in hendrerit in vulputate velit esse molestie 
    consequat, vel illum dolore eu feugiat nulla facilisis 
    at vero eros et accumsan et iusto odio dignissim qui 
    blandit praesent luptatum zzril delenit augue duis 
    olore te feugait nulla.
  </p>
</div>
<!--THE END OF ALL CONTENT EVER KNOWN TO MANKIND-->

<!--COPYRIGHT-->
<div id = "copyright">
  <p id = "signature"> Copyright 2013 USOMC. All Rights Reserved. </p>
</div>
<!--END COPYRIGHT-->