<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
<title>USOMC</title>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
	<input type="button" id = "display" value="display"/>
	<input type="button" id = "side" value="side"/>
	<p id = "paragraph"> Lorem ipsum dolor sit amet, consectetuer adipiscing 
		elit, sed diam nonummy nibh euismod tincidunt ut 
		laoreet dolore magna aliquam erat volutpat. Ut wisi 
		enim ad minim veniam, quis nostrud exerci tation 
		ullamcorper suscipit lobortis nisl ut aliquip ex 
		ea commodo consequat. Duis autem vel eum iriure 
		dolor in hendrerit in vulputate velit esse molestie 
		consequat, vel illum dolore eu feugiat nulla facilisis 
		at vero eros et accumsan et iusto odio dignissim qui 
		blandit praesent luptatum zzril delenit augue duis 
		olore te feugait nulla facilisi. Nam liber tempor cum 
		soluta nobis eleifend option congue nihil imperdiet 
		doming id quod mazim placerat facer possim assum. 
		Typi non habent claritatem insitam; est usus legentis 
		in iis qui facit eorum claritatem. Investigationes 
		demonstraverunt lectores legere me lius quod ii legunt 
		saepius. Claritas est etiam processus dynamicus, qui 
		sequitur mutationem consuetudium lectorum. Mirum est 
		notare quam littera gothica, quam nunc putamus parum 
		claram, anteposuerit litterarum formas humanitatis per 
		seacula quarta decima et quinta decima. Eodem modo typi, 
		qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
	</p>
</div>
<div id="bar">
<img id = "logo" src="img/logo.png" alt="Open Music Competition">
</div>
<div id="tabar">
</div>
<div id = "tabs">
		<input type="button" class = "tab" value="ABOUT"/>
		<input type="button" class = "tab" value="COMPETITION"/>
		<input type="button" class = "tab" value="WINNERS"/>
		<input type="button" class = "tab" value="SCHOLARSHIPS"/>
		<input type="button" class = "tab" value="JUDGES"/>
</div>
<input type="button" class = "note" id = "note1" value="NOTE: Tab bar should roll with the browser"/>
<input type="button" class = "note" id = "note2" value="NOTE: Where images to display go"/>
<input type="button" class = "note" id = "note3" value="NOTE: Side tabs can go here"/>
<input type="button" class = "note" id = "note4" value="NOTE: Info box"/>
<input type="button" class = "note" id = "note5" value="NOTE: Overall a windows8-like way of displaying info"
</body>
</html>

