<div id = "piano">
</div>
<div id = "piano_title">
</div>
<div id = "info_back">
</div>
<div id = "button_row">
  <p id = "button"><%= link_to "- ENTER -", registration_path, class: "enter-button" %></p>
</div>

<div class="container" id="home_container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-1 home_title left"> WHAT </div>
      <div class="col-md-2">
        <p class="left_most"> The United States Open Music Competition is an extremely comprehensive piano competition that challenges and rewards students of all ages. </p>
      </div>
      <div class = "home_divider"> </div>
      <div class="col-md-1 home_title center"> WHEN </div>
      <div class="col-md-2">
        <p> Open Registration: 9/9/13 <br> Judge Apps : 1/1/13 <br> Entry Deadline : 10/10/13 <br> Competition: 11/11/2013 <br> Final Results: 12/12/13 </p>
      </div>
      <div class = "home_divider"> </div>
      <div class="col-md-1 home_title right"> WHERE </div>
      <div class="col-md-2">
        <p> First United Methodist Church of Palo Alto: <br> 625 Hamilton Avenue <br> Palo Alto <br> California 94301 </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="title" id="info_title">CONTACT & COPYRIGHT</h1>
      <p id="info">
      MAILING ADDRESS<br>
      United States Open Music Competition <br>
      PMB #418, 6114 La Salle Avenue <br>
      Oakland, California 94611<br><br>
      PHONE<br>
      (510) 843 - 8686<br><br>
      EMAIL<br>
      info@usomc.org<br><br>
      PHOTO CREDITS<br>
      Photo of piano by Gianpiero Addis /
      Licensed by Creative Commons 2.0<br><br>
      COPYRIGHT<br>
      © Copyright 2013 USOMC. All Rights Reserved.
    </div>
  </div>
</div>
