<div id="whitener">
</div>
<div id="piano">
</div>
<div id="title_row">
  <div id="title"><%= link_to 'ENTER', registration_path, class: 'title_link' %></div>
</div>
<div id="nav_row">
  <ul id="home_page_nav">
    <%= render partial: "partials/left_header_links", locals: {home: true} %>
    <%= render partial: "partials/right_header_links", locals: {home: true} %>
  </ul>
</div>
