<div id="piano"></div>

<div class="row">
  <div class="col-md-5">
    <h1 class="title">USOMC</h1>

    <p id="home_page_blurb">was founded in 1992. A comprehensive piano competition that both challenges and rewards students of all ages, USOMC has grown to become a 1000 plus entry international level competition, seeking to create an environment where students can strive to achieve musical excellence.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h1 class="title">Annoucements</h1>
    <div id="announcements">
      <% @announcements.each do |announcement| %>
        <div class="announcement">
          <div class="date"><%= announcement.date.month %>/<%= announcement.date.day %></div>
          <p class="description"><%= announcement.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
