<div id="container">
  <div id = "piano"></div>
  <div id = "sideline"></div>

  <p id="title">
    USOMC
  </p>

  <p id="blurb">
    was founded in 1992. A comprehensive piano competition that both challenges and rewards students of all ages, USOMC has grown to become a 1000 plus entry international level competition, seeking to create an environment where students can strive to achieve musical excellence.
  </p>

  <div id="announcements">
    <input type="button" disabled="disabled" class="date" id = "about" value = "7/11"/>
    <p id="announcement"> 2015 Registration has opened! Sign up now for a discounted entry fee </p>
    <input type="button" disabled="disabled" class="date" id = "about" value = "6/9"/>
    <p id="announcement"> 2015 Judges Application Available. Apply here to get involved </p>
    <input type="button" disabled="disabled" class="date" id = "about" value = "4/20"/>
    <p id="announcement"> Mark Miyashita is not pronounced the way you think it is </p>
    <input type="button" disabled="disabled" class="date" id = "about" value = "1/3"/>
    <p id="announcement"> Blah blah blah blah blah blah blah but really why blah</p>
    <input type="button" disabled="disabled" class="date" id = "about" value = "3/7"/>
    <p id="announcement"> But what about blah blah blah?</p>
    <input type="button" disabled="disabled" class="date" id = "about" value = "3/7"/>
    <p id="announcement"> But what about blah blah blah blah?</p>
    <input type="button" disabled="disabled" class="date" id = "about" value = "2/6"/>
    <p id="announcement"> But what about blah blah blah blah blah?</p>
    <input type="button" disabled="disabled" class="date" id = "about" value = "1/5"/>
    <p id="announcement"> But what about blah blah blah blah blah blah?</p>
    <input type="button" disabled="disabled" class="date" id = "about" value = "12/4"/>
    <p id="announcement"> But what about blah blah blah blah blah blah blah?</p>
  </div>

  <input type="button" id="scrollup" value = ""></input>
  <input type="button" id="scrolldown" value = ""></input>
</div>
