<!--<div id="piano">
</div>-->
<div class="row">
    <h1 id="home_title">USOMC</h1>
    <h1 id="sub_title">UNITED STATES OPEN MUSIC COMPETITION</h1>
</div>
<div class="row">
  <div class="link_box">
    <h1 class="quick_link">RULES</h1>
    <h1 class="status">AVAILABLE</h1>
    <h1 class="quick_link">SYLLABUS</h1>
    <h1 class="status">AVAILABLE</h1>
    <h1 class="quick_link">REGISTRATION</h1>
    <h1 class="status">OPEN 12/08</h1>
    <h1 class="quick_link">EVENT INFO</h1>
    <h1 class="status">AVAILABLE</h1>
    <h1 class="quick_link">RESULTS</h1>
    <h1 class="status">RELEASED 02/07</h1>
  </div>
</div>