<div id="whitener">
</div>
<div id="piano">
</div>
<div id="title_box_row">
  <div id="title_box"></div>
</div>
<div id="title_row">
  <h1 id="home_title">USOMC</h1>
  <h1 id="sub_title">UNITED STATES OPEN MUSIC COMPETITION</h1>
</div>
<div id="nav_row">
  <ul id="home_page_nav">
    <%= render partial: "partials/left_header_links", locals: {home: true} %>
    <%= render partial: "partials/right_header_links", locals: {home: true} %>
  </ul>
</div>
