<div id = "piano">
</div>
<div class="content_container">
  <div class="container" id="home_container">
    <div class="row">
      <div class="col-md-12">
      	HALF FINISHED HOME PAGE
      </div>
    </div>
  </div>
</div>
