<div id = "credits_back">
</div>
<div class="content_container">
  <div class="container" id="about_container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title  about_blurb">- HISTORY -</h1>
        <div id="images">
            <div id="content">
            <div id="carousel-container">
                <div id="carousel">
                    <div class="carousel-item"><img class="img-scaled-wh" src="http://3.bp.blogspot.com/-FpjaQXEC8Os/T4E3UdNKUkI/AAAAAAAAAMg/GO1O2YbHF9w/s1600/mark.JPG" /></div>
                    <div class="carousel-item"><img class="img-scaled-wh" src="http://i1.ytimg.com/vi/UKPs8uoYrFI/maxresdefault.jpg" /></div>
                    <div class="carousel-item"><img class="img-scaled-wh" src="http://a0.twimg.com/profile_images/1761155150/390382_347724638573808_100000088255993_1464197_432368761_n.jpeg" /></div>
                    <div class="carousel-item"><img class="img-scaled-wh" src="https://lh6.googleusercontent.com/-SEAiVKLGGrc/AAAAAAAAAAI/AAAAAAAAAAA/6u3tiCB0Tk8/s600-c-k-no/photo.jpg" /></div>
                    <div class="clear"></div>
                </div>
                <div id="carousel-prev"><img class="img-scaled" src=<%= image_path "prev.svg"%>/></div>
                <div id="carousel-next"><img class="img-scaled" src=<%= image_path "next.svg"%>/></div>
            </div>
        </div>
        </div>
        <p>
        The United States Open Music Competition (USOMC) was founded in 1992 by a group of music enthusiasts. It is an extremely comprehensive piano competition that both challenges and rewards students of all ages. Over the years, the USOMC has grown from a 500 entry state level competition to a 1000 plus entry national and international level competition. Numerous contestants have traveled from Austria, Hong Kong, Shanghai, and since 2005, from all over China. For the past 15 years, USOMC has created an environment where local, national and international students of all levels have strived to achieve musical excellence. </p>
        <p>
        The USOMC has become the high point of many students’ ambition and dream. They plan their programs and prepare diligently one year in advance. Each year, teachers, adjudicators, and parents comment on the growing quality of the performances. The dedication of the contestants throughout the weeklong competition in the recent years has been phenomenal. </p>
        <p>
        The continuous support we gain from friends, patrons, sponsors, and volunteers enables us to foster educational growth amongst aspiring young musicians with our annual music events. The enthusiasm and generosity of our patrons also help fund our Scholarship Endowment Program, which provides deserving and talented musicians scholarships towards their further pursuit in music. It is with these kind sponsorships that the United States Open Music Competition can be maintained as a world-class event. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="title" id="credits_title"> BOARD & STAFF </h1>
        <p id="credits">
        PRESIDENT<br>
        Randall Benway<br><br>
        V.P. | MUSIC DIRECTOR | CO-FOUNDER<br>
        Lamae Loo<br><br>
        CO-FOUNDER | CATERING COORDINATOR<br>
        Elaine Lee<br><br>
        TREASURER<br>
        Ivy Chen<br><br>
        DIRECTORS<br>
        Dr. Philip C. Ursell / 
        Carl Brooks / 
        Anita Cheung /  
        Bernard Cheung / 
        Mabel Lee / 
        Raymond Pak / 
        Shantha Ursell / 
        Shi-gu Zhang<br><br>
        JUNIOR BOARD MEMBERS<br>
        J.T. Ku / 
        A. Yu<br><br>
        CONSULTANTS<br>
        Chrissy Huang / 
        Betty Woo<br><br>
        EXECUTIVE SECRETARY<br>
        Mee Lee Pang<br><br>
        GRAPHIC DESIGNER<br>
        Open Position
        </p>
      </div>
    </div>
  </div>
</div>