<!--NAVBAR THAT NOT IN CONVENTIONAL BOOTSTRAP-->
<input type="button" id = "logo" value = ""/>
<button type="button" id = "search">
    <span id="icon" class="glyphicon glyphicon-search"></span>
</button>
<input id="text" type="text" />
<div id="navback"></div>
<div id="outerline"></div>
<div id="innerline"></div>
<input type="button" class="tab" id = "about" value = "ABOUT"/>
<input type="button" class="tab" id = "competition" value = "COMPETITION"/>
<input type="button" class="tab" id = "winners" value = "WINNERS"/>
<input type="button" class="tab" id = "judges" value = "JUDGES"/>
<input type="button" class="tab" id = "registration" value = "REGISTRATION"/>
<input type="button" class="tab" id = "support" value = "SUPPORT"/>
<input type="button" disabled="disabled"  id="subtitle" value= "UNITED STATES OPEN MUSIC COMPETITION"/>
<!--END NAVBAR-->

<!--THE ACTUAL CONTENT-->
<div id="container">
    <div id = "sideouterline"></div>
    <div id = "sideinnerline"></div>
    <div id = "sideotherouterline"></div>
    <button type="button" id = "edit">
        <span id="editcon" class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="button" id = "favorite">
        <span id="favcon" class="glyphicon glyphicon-star"></span>
    </button>
    <button type="button" id = "message">
        <span id="msgcon" class="glyphicon glyphicon-envelope"></span>
    </button>
    <button type="button" id = "print">
        <span id="printcon" class="glyphicon glyphicon-print"></span>
    </button>
    <input type="button" class = "stab" id = "compete" value="competition"/>
    <input type="button" class = "stab" id = "description" value="description"/>
    <input type="button" class = "stab" id = "contact" value="contact info"/>
    <input type="button" class = "stab" id = "pieces" value="pieces"/>
    <input type="button" class = "stab" id = "notes" value="notes"/>
    <div id="infobox">
        <p id = "stitle"> Mark Miyashita </p>
        <p id = "info">
        Birth Date: <br> 
        Parents: <br>
        Country: <br>
        Street Address: <br>
        City: <br>
        State: <br>
        Zip/Postal Code: <br>
        Phone: <br>
        Email: <br>
        Parent Email: <br>
        Current teacher:
        </p>
        <p id = "details">
        04/20/42 <br>
        C.W. <br>
        Cambodia <br>
        1337 Leet Way <br>
        Bakeley <br>
        Calialiali <br>
        36000 <br>
        (911) 911-9111 <br>
        markahaha@ahaha.com <br>
        mommy@ahaha.com <br>
        Voldemort
        </p>                    
    </div>
</div>
<!--THE END OF ALL CONTENT EVER KNOWN TO MANKIND-->
