<!--NAVBAR THAT NOT IN CONVENTIONAL BOOTSTRAP-->
<input type="button" id = "logo" value = ""/>
<button type="button" id = "search">
    <span id="icon" class="glyphicon glyphicon-search"></span>
</button>
<input id="text" type="text" />
<div id="navback"></div>
<div id="outerline"></div>
<div id="innerline"></div>
<input type="button" class="tab" id = "about" value = "ABOUT"/>
<input type="button" class="tab" id = "competition" value = "COMPETITION"/>
<input type="button" class="tab" id = "winners" value = "WINNERS"/>
<input type="button" class="tab" id = "judges" value = "JUDGES"/>
<input type="button" class="tab" id = "registration" value = "REGISTRATION"/>
<input type="button" class="tab" id = "support" value = "SUPPORT"/>
<input type="button" disabled="disabled"  id="subtitle" value= "UNITED STATES OPEN MUSIC COMPETITION"/>
<!--END NAVBAR-->

<!--THE ACTUAL CONTENT-->
<div id="container">
    <div id = "sideouterline"></div>
    <div id = "sideinnerline"></div>
    <div id = "sideotherouterline"></div>
    <input type="button" class = "stab" id = "part1" value="part 1"/>
    <input type="button" class = "stab" id = "part2" value="part 2"/>
    <input type="button" class = "stab" id = "part3" value="part 3"/>
    <p id = "title"> Personal Information </p>
    <div id="infobox">
    <p id = "info">
    Name: <br> 
    Birth Date: <br> 
    Parent Name: <br>
    Country: <br>
    Street Address: <br>
    City: <br>
    State: <br>
    Zip/Postal Code: <br>
    Phone: <br>
    Email: <br>
    Parent Email: <br>
    Current teacher:
    </p>                
    </div>
    <form id = "form">
        <input type="text" class="input" placeholder="First">
        <input type="text" class="input" placeholder="Last"><br>
        <input type="text" id="short" class="input" placeholder="Month">
        <input type="text" id="short" class="input" placeholder="Day">
        <input type="text" id="short" class="input" placeholder="Year"><br>
        <input type="text" class="input" placeholder="First">
        <input type="text" class="input" placeholder="Last"><br>
        <select class="input">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select><br>
        <input type="text" id = "long" class="input" placeholder="Street Address"><br>
        <input type="text" id = "long" class="input" placeholder="City"><br>
        <input type="text" id = "long" class="input" placeholder="State"><br>
        <input type="text" class="input" placeholder="Zip/Postal Code"><br>
        <input type="text" class="input" placeholder="Phone"><br>
        <input type="text" id = "long" class="input" placeholder="Email"><br>
        <input type="text" id = "long" class="input" placeholder="Email"><br>
        <input type="text" class="input" placeholder="First">
        <input type="text" class="input" placeholder="Last"><br>
        <input type="submit" class="submit" value="continue"/>
    </form>
</div>
<!--THE END OF ALL CONTENT EVER KNOWN TO MANKIND-->
