<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">SCHOLARSHIPS</h1>
        <p>
        The United States Open Music Competition has created a Scholarship Endowment Fund to award and recognize outstanding performers. The Scholarship Endowment Fund allows USOMC to continue giving out monetary awards to competition winners each year. Please show us your support towards fostering education and music by your generous donation to the USOMC Scholarship Endowment Fund.
        </p>

        <p>
        Help Support The USOMC Scholarship Fund by becoming a Donor or a Sponsor. All donations to USOMC are tax deductible. Please make checks payable to: USOMC
        </p>

        <p>
        Mail check to: PMB 418, 6114 La Salle Avenue, Oakland, California 94611
        </p>
      </div>
    </div>
  </div>
</div>
