<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">GOLD MEDAL SPONSOR $3,000</h1>
        <p>
        - Full Page advertisement in USOMC competition program<br>
        - Banner/Logo displayed during competition week & fundraising events<br>
        - Verbal Acknowledgement during USOMC award concerts<br>
        - Acknowledgement in printed media & USOMC official website<br>
        - USOMC Winners’ Concerts DVD<br>
        </p>

        <h1 class="title">SILVER MEDAL SPONSOR $2,000</h1>
        <p>
          - Half Page advertisement in USOMC competition program<br>
          - Banner/Logo displayed during competition week & fundraising events<br>
          - Verbal Acknowledgement during USOMC award concerts<br>
          - Acknowledgement in printed media & USOMC official website<<br>
          - USOMC Winners’ Concerts DVD<br>
        </p>

        <h1 class="title">BRONZE MEDAL SPONSOR $1,000</h1>
        <p>
          - Quarter Page advertisement in USOMC competition program<br>
          - Banner/Logo displayed during competition week & fundraising events<br>
          - Verbal Acknowledgement during USOMC award concerts<br>
          - Acknowledgement in printed media & USOMC official website<br>
          - USOMC Winners’ Concerts DVD<br>
        </p>
      </div>
    </div>
  </div>
</div>
