<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Sponsorship Levels</h1>

        <h3 class="title">GOLD MEDAL SPONSOR $3,000</h3>
        <ul>
          <li>Full Page advertisement in USOMC competition program</li>
          <li>Banner/Logo displayed during competition week & fundraising events</li>
          <li>Verbal Acknowledgement during USOMC award concerts</li>
          <li>Acknowledgement in printed media & USOMC official website</li>
          <li>USOMC Winners’ Concerts DVD</li>
        </ul>

        <h3 class="title">SILVER MEDAL SPONSOR $2,000</h3>
        <ul>
          <li>Half Page advertisement in USOMC competition program</li>
          <li>Banner/Logo displayed during competition week & fundraising events</li>
          <li>Verbal Acknowledgement during USOMC award concerts</li>
          <li>Acknowledgement in printed media & USOMC official website</li>
          <li>USOMC Winners’ Concerts DVD</li>
        </ul>

        <h3 class="title">BRONZE MEDAL SPONSOR $1,000</h3>
        <ul>
          <li>Quarter Page advertisement in USOMC competition program</li>
          <li>Banner/Logo displayed during competition week & fundraising events</li>
          <li>Verbal Acknowledgement during USOMC award concerts</li>
          <li>Acknowledgement in printed media & USOMC official website</li>
          <li>USOMC Winners’ Concerts DVD</li>
        </ul>
      </div>
    </div>
  </div>
</div>
