<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Staff Members</h1>

        <p>
        Executive Secretary<br>
        Mee Lee Pang
        </p>

        <p>
        Graphic Designer<br>
        Open Position
        </p>
      </div>
    </div>
  </div>
</div>
