<div id = "volunteer_back">
</div>
<div id = "judge_back">
</div>
<div id = "volunteer_row">
  <p id = "volunteer_button">- GET INVOLVED -</p>
</div>
<div id = "judge_row">
  <p id = "judge_button">- APPLY NOW -</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 volunteer_blurb">
      <h1 class="title">- BECOME A VOLUNTEER -</h1>
      <p class="volunteer_blurb">
      Volunteers are an important part of the United States Open Music Competition. They serve on many of our “behind the scenes” operations throughout the year and especially during the competition week in February. A myriad of volunteer positions are available for any interested and enthusiastic volunteers. Positions include room monitors, receptionists, runners, video-taping, lunch servers, Prize-Winners’ Concerts backstage helpers, set up, clean up and much more!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 judge_blurb">
      <h1 class="title inverted_color">- BECOME A JUDGE -</h1>

      <p class="judge_color">
      The United States Open Music Competition offers a unique and exciting adjudicator program where more than 25 distinguished judges come together each year during the competition week to judge and guide contestants of all ages and of different nationalities traveling locally, nationally and internationally. These judges have the opportunity to witness young pianists and musicians varying in levels, techniques and personal styles.
      </p>

      <p class="judge_color">
      In recent years, the USOMC has grown to 1200+ entries with 700+ contestants per year and we offer more than 70 events annually. We are constantly looking for new members to join the USOMC adjudicator program in order to continue building a dynamic panel of judges. This provides the contestants with a greater variety of critiques while learning from the different judging styles during the competition week.
      </p>

      <p class="judge_color">
      The USOMC offers a stipend of $50/hour for all adjudicators. In addition to the stipend, we also provide a complimentary meal during the lunch break along with snacks, fruits, and a variety of drinks throughout the day. All qualified pianists/musicians interested in learning more about the USOMC adjudicator program or how to become an adjudicator, please contact USOMC at  info@usomc.org.
      </p>
    </div>
  </div>
</div>
