<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Volunteer</h1>
        <p>
        Volunteers are an important part of the United States Open Music Competition. They serve on many of our “behind the scenes” operations throughout the year and especially during the competition week in February. A myriad of volunteer positions are available for any interested and enthusiastic volunteers. Positions include room monitors, receptionists, runners, video-taping, lunch servers, Prize-Winners’ Concerts backstage helpers, set up, clean up and much more!
        </p>
      </div>
    </div>
  </div>
</div>
