<!--JUST AN EXAMPLE-->

<div class="content_container">
  <div class="container">
  	<div class="row bio_row">
    	<div class="col-md-3">
      		<div class="bio_pic gold"></div>
      	</div>
      	<div class="col-md-9 bio_blurb">
      		<h1 class="title"> MARK MIYASHITA </h1>
      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
      	</div>
    </div>
    <div class="row bio_row">
    	<div class="col-md-3">
      		<div class="bio_pic silver"></div>
      	</div>
      	<div class="col-md-9 bio_blurb">
      		<h1 class="title"> HOWARD CHEN </h1>
      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
      	</div>
    </div>
    <div class="row bio_row">
    	<div class="col-md-3">
      		<div class="bio_pic bronze"></div>
      	</div>
      	<div class="col-md-9 bio_blurb">
      		<h1 class="title"> JOHNATHAN HO </h1>
      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
      	</div>
    </div>
  </div>
</div>