<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Admin Dashboard</h1>
        <ul class="no-bullets with-buttons">
          <li><%= link_to "Show all Users", admin_users_path, class: 'btn btn-primary btn-lg btn-block' %></li>
          <li><%= link_to "Show all Events", events_path, class: 'btn btn-primary btn-lg btn-block'  %></li>
          <li><%= link_to "Show all Pieces", pieces_path, class: 'btn btn-primary btn-lg btn-block'  %></li>
          <li><%= link_to "Create Piece", new_piece_path, class: 'btn btn-primary btn-lg btn-block'  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
