<h1> Admin Dashboard </h1>
<li> <%= link_to "Show all Users", admin_users_path %> </li>
<li> <%= link_to "Show all Events", admin_events_path %></li>
<li> <%= link_to "Show all Pieces", pieces_path %> </li>
<li> <%= link_to "Create Piece", new_piece_path %>
