<div class="content_container">
  <div class="container">
    <% if @competition.is_current %>
      <div class="row">
        <div class="col-md-12">
          <h1 class="title">Current - <%= @competition.name %> - <%= @competition.year %></h1>

          <% @competition.categories.each do |category| %>
            <%= category.name %>

          <% end %>

        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <h1 class="title"><%= @competition.year %> Winners</h1>

        </div>
      </div>
    <% end %>
  </div>
</div>
