<header>
  <div id="main_header">
    <div class="container" id = "header_bottom_border">
      <div class="row">
        <div class="navbar-header">
          <button type="button" id="collapse-button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span id="icon" class="glyphicon glyphicon-align-justify"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-left">
            <%= render partial: "partials/left_header_links", locals: {home: false} %>
          </ul>
          <div id="diamond_row">
            <div id="diamond"></div>
          </div>
          <div id="diamond_title_row">
            <h1 id="diamond_title"><%= link_to 'USOMC', root_path, class: 'no-highlight' %></h1>
          </div>
          <ul class="nav navbar-nav pull-right">
            <%= render partial: "partials/right_header_links", locals: {home: false} %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
