<div class="content_container">
  <div class="container">
    <div class="row" id="user_profile">
     <div class="col-md-12" id="main_user_info">
        <h1 class="title about_blurb">- <%= @display_event.name.upcase %> -</h1>
          <div class="col-md-4"></div>
          <div class="col-md-3">
            <ul class="list_user_labels">
              <li class="user_info_label">Number of Pieces:</li>
              <li class="user_info_label">Max Time (min):</li>
              <li class="user_info_label">Status:</li>
            </ul>
          </div>
        <div class="col-md-3">
          <ul class="list_user_values">
            <li class="user_info_value"><%= @display_event.num_pieces %></li>
            <li class="user_info_value"><%= @display_event.max_time %></li>
          </ul>
      </div>
    </div>
  </div>
</div>
