<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(errors.count, 'error') %> prohibited this piece from being saved:</h2>
          <ul>
          <% errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
