<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title">Event Creation Lab</h1>
          </div>
        </div>
        <div class="row">
          <%= form_for(@event, html: {id: "form"}) do |f| %>
          <div class="col-md-2">
              <ul class="list_user_labels">
                <li class="user_input_label">Name:</li>
              </ul>
          </div>
          <div class="col-md-2">
            <ul class="list_user_values">
              <li class="user_input_value"><%= f.text_field :name, :placeholder => "Name" %></li>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit ">>", class: "submit" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
