<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title">Create a Category</h1>
          </div>
        </div>

        <%= render partial: "admin/categories/category_form" %>

      </div>
    </div>
  </div>
</div>
