<div class="container">
  <div class="row" id="user_profile">
   <div class="col-md-12" id="main_user_info">
      <h1 class="title"><%= @category.name %></h1>
      <div class="col-md-3">
        <ul class="list_user_labels">
          <li class="user_info_label">Competition:</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list_user_values">
          <li class="user_info_value"><%= @category.competition.display_name %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list_user_labels">

        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list_user_values">

        </ul>
      </div>
    </div>
  </div>
</div>
