<div class="content_container">
  <div class="container">
    <div class="row" id="user_profile">
     <div class="col-md-12" id="main_user_info">
        <h1 class="title"><%= @category.name %></h1>
        <div class="col-md-3">
          <ul class="list_user_labels">

          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list_user_values">

          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list_user_labels">

          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list_user_values">

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
