<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>A confirmation was sent to your email</h1>
        <p>Please confirm your account by clicking on the link provided in the email</p>
      </div>
    </div>
  </div>
</div>
