<div class="content_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title about_blurb">- <%= @category.name.upcase %> -</h1>

        <% @category.display_events.each do |display_event| %>
          <%= link_to display_event.name, competition_category_display_event_path(competition_id: @category.competition.id, category_id: @category.id, id: display_event.id), class: "year_link" %>
            <% if @user and not @user.has_display_event(display_event) %>
              <%= link_to "Add event", { controller: "users", action: "add_display_event", display_event_id: display_event.id }, class: "year_link" %>
            <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
